@charset "utf-8";

/* Estilos para plantilla de OVA - Curso: Diseño de sitios web - Actividad 2 - UNAD */


/* Características generales de la página */

body {
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
background-image:url(imag/fondo1.png);
background-repeat:repeat;
}

#contenedor{
width:1000px;
height:auto;
background-color:#FFFFFF;
margin-left:auto;
margin-right:auto;
margin-top:20px;
margin-bottom:20px;
padding:15px;
border:10px solid #F0B429;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
-webkit-box-shadow:0px 0px 20px #333333;
-moz-box-shadow:0px 0px 20px #333333;
box-shadow:0px 0px 20px #333333;
background-image:url(imag/fondo2.png);
background-repeat:repeat;
}

/* Características del encabezado */

#encabezado {
width:958px;
height:170px;
margin-bottom:0px;
padding:10PX;
margin-left:auto;
margin-right:auto;
margin-top:10px;
border:0px;
background-color:#FFFFFF;
border:1px solid #808080;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
}

#logo_encabezado{
width:120px;
height:104px;
margin:25px;
float: left;
}

#nombre_OVA{
width:700px;
height:110;
margin-left:20px;
margin-top:30px;
margin-right:30px;
margin-bottom:30px;
float:right;
font-family:Tahoma, Geneva, sans-serif;
font-size:30px;
color:#F47920;
}


/* Características del menu de navegación */

#barra_navegacion{
width:980px;
height:40px;
margin-top:10px;
margin-bottom:10px;
margin-left:auto;
margin-right:auto;
border:1px solid #808080;
background-color:#FFFFFF;
}

.boton {
	width: 20%;
	height: 20px;
	float: left;
	text-align: center;
	font-weight: bold;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 20px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:auto;
	padding-right:auto;
	background-color:#F0B429;;
    }
 
	.boton:hover {background-color:#005883;}
 
	.boton a {
		color: #333;
		text-decoration: none;
		display: block; }
 
		.boton a:hover { color: #FFFFFF; text-decoration: underline;}

/* Características del espacio para el contenido del OVA */

#contenido{
width:934px;
height:auto;
margin-left:auto;
margin-right:auto;
padding:20px;
background-color:#FFFFFF;
border:3px solid #808080;
}
	
	.titulo_contenido{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#333;
	font-weight:bold;
	text-align:center;
	}
	
	.subtitulo_contenido{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#333;
	font-weight:bold;
	text-align:left;	
	}
	
	.texto_contenido {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: justify;
    }

/* Caracetrísticas para el espacio del pie de página  */

#pie{
width:960px;
height:120px;
margin-top:20px;
margin-left:auto;
margin-right:auto;
margin-bottom:10px;
padding:10px;
border:1px solid #808080;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
background-color:#FFFFFF;
}

#logo_pie{
width:177px;
height:42px;
margin:25px;
float: left;
}

#espacio_texto_pie{
width:600px;
height:100px;
margin-right:20px;
margin-top:0px;
margin-bottom:10px;
margin-left:auto;
float:right;
font-family:Verdana, Arial, Geneva;
font-size:15px;
color:#000000;
text-align:right;
}
